.textdiv {
  width: 100%;
  background-color: #494949;
  padding: 3rem;
  margin-top: 2rem;
}

.textdiv h2 {
  color: white;
  text-align: center;
}

.textdiv p {
  color: #ffffff;
  text-align: center;
  font-style: italic;
}

.buttondiv {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.buttondiv button {
  background-color: white;
  width: 10rem;
  height: 2.5rem;
  font: inherit;
  color: black;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 20px;
  text-transform: uppercase;
}
