.formdiv {
  width: 90%;
  margin: auto;
  background-color: #494949;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
}

.formdiv form {
  width: 100%;
}

.formdiv form h3 {
  text-align: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: white;
}

.formdiv form label {
  display: block;
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.formdiv form input {
  width: 100%;
  height: 2.5rem;
  font: inherit;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.buttondiv {
  width: 100%;
  text-align: center;
}

.buttondiv button {
  font: inherit;
  margin-top: 1rem;
  width: 10rem;
  height: 2rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  font-weight: bold;
}

@media(max-width:48rem){
  .formdiv{
      width: 100%;
  }
}
